<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/main/Subject/subjectmain/modules/learningmaterials">My Modules</a></li>
    <li class="breadcrumb-item active" aria-current="page">My Progress</li>
    </ol>
</nav>

<div class="container">
    <h1 class="titles">My Progress</h1>
    <h5 class="text-muted text-uppercase">{{subname}} | {{admin_name}}</h5>

    @for (item of progress; track $index) {
        @if(item.isOpen == 1) {
            <a [routerLink]="['/main/Subject/subjectmain/modules/questionnaires']" (click)="getAssessmentID(item.assessmentid, item.title)">
                <mat-card class="matcard">
                  <mat-card-header class="matcardheader">
                        <div class="col-8" [style.color]="item.isDateDue == 0 ? '#FFA500' : 'inherit'">
                            Assessment {{$index + 1}}
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <span style="font-weight: 300; font-size: 12px; color: red; margin-right: 5px;">Due Date: </span>
                            <span style="font-weight: 300; font-size: 12px; color: black;">{{item.due_date}}</span>
                        </div>
                        </mat-card-header>
                        <div class="row">
                            <div class="col-11">
                                <mat-card-content class="matcardcontent" [style.color]="item.isDateDue == 0 ? '#FFA500' : 'inherit'">
                                    {{item.title}}
                                    <br>
                                </mat-card-content>
                            </div>
                            <div class="col-1">
                                @if(lrn == item.slrn) {
                                    <input class="form-check-input" type="checkbox" checked>
                                } @else {
                                    <input class="form-check-input" type="checkbox">
                                }
                            </div>
            
                        </div>
                    </mat-card>
                </a>
        } @else if (item.isOpen == 0) {
            <a [routerLink]="['/main/Subject/subjectmain/modules/questionnaires']" (click)="getAssessmentID(item.assessmentid, item.title)" style="pointer-events: none;">
                <mat-card class="matcard">
                  <mat-card-header class="matcardheader">
                        <div class="col-8" style="color: gray;">
                            Assessment {{$index + 1}}
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <span style="font-weight: 300; font-size: 12px; color: gray; margin-right: 5px;">Due Date: </span>
                            <span style="font-weight: 300; font-size: 12px; color: gray;">{{item.due_date}}</span>
                        </div>
                        </mat-card-header>
                        <div class="row">
                            <div class="col-11">
                                <mat-card-content class="matcardcontent" style="color: gray;">
                                    {{item.title}}
                                    <br>
                                </mat-card-content>
                            </div>
                            <div class="col-1">
                                @if(lrn == item.slrn) {
                                    <input class="form-check-input" type="checkbox" checked>
                                } @else {
                                    <input class="form-check-input" type="checkbox">
                                }
                            </div>
            
                        </div>
                    </mat-card>
            </a>
        }
    }

</div>