<div class="wrapper">
    <div class="header" *ngIf="!isLoading">
        <div class="title-and-date">
            <h1>Teacher {{adminName}}</h1>
        </div>
    </div>
    <div class="loader-container" *ngIf="isLoading">
        <div class="spinner"></div>
    </div>

    <div class="conversation-container" *ngIf="!isLoading">
        <div class="message" *ngFor="let message of convoMessages">
            <div 
                [ngClass]="{
                    'admin-message': message.sender_name !== currentUser, 
                    'learner-message': message.sender_name === currentUser
                }">
                <p class="message-text">{{ message.messages }}</p>
                <p class="timestamp">{{ message.created_at | date: 'MMMM d, y | h:mm a' }}</p>
            </div>
        </div>
    </div>

    <div class="reply-container" *ngIf="!isLoading">
        <textarea [(ngModel)]="newMessage" placeholder="Type your message here..."></textarea>
        <button (click)="sendMessage()" class="submitting" [disabled]="isSubmitting"><i class="fa fa-paper-plane-o fa-2x" aria-hidden="true"></i></button>
    </div>
</div>
